body{
    background-color: antiquewhite;
}

.parent{
    background-color:palegreen;
    height: 400px;
    width: 400px;
    border-radius: 50px;
}

.child{
    background-color: red;
    height: 50%;
    width: 50%;
    border-radius: 200px;
    animation: left-to-right 1s ease-in forwards alternate infinite;

   
}

.parent:hover .child{
    animation-play-state: paused;
}

@keyframes left-to-right{
    0%{
        transform: translate(0);

    }

    33%{
        transform: translateY(100%);
    }

    50%{
        background-color: blue;
    }

    66%{
        transform: translateX(100%) translateY(100%);
    }
    100% {
        transform: translateX(100%);
        background-color: green;

    }

}

